<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="info">
        <h1>To-Do With Python</h1>
        <button>Log in</button>
        <button>Register</button>
    </div>
    <!-- From Uiverse.io by bimbx --> 
    <label class="container">
        <input checked="checked" type="checkbox">
        <div class="checkmark"></div>
    </label>
</body>
</html>