<!--Hacer que las tareas se vean en recuadros minimalistas y limpios
Que cuando se le pase el raton por encima se vean como relucir o algún efecto limpio
Que cuando esté el ratón encima aparezca un texto minimalista con un recuadro de que haga click para darla como finalizada la tarea
Cuando haga click en la tarea que se meta para dentro y como desaparezca o haga algún tipo de animación
Que se dividan en tareas realizadas y no realizadas arriba en el cabecero, y en la derecha del todo esté la cuenta-->