<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <h1>To-Do With Python</h1>
    <br>
    <section>
        <div class="divSections">
            <button class="sections" onclick="toDo()">To-Do</button>
        </div>
        <div class="divSections">
            <button class="sections" onclick="done()">Done</button>
        </div>
    </section>
    <div class="profile">
        <!-- Account Button -->
        <button class="account">
            <svg class="svgAccount" width="40" height="40" fill="#0092E4" xmlns="http://www.w3.org/2000/svg"
                data-name="Layer 1" viewBox="0 0 24 24" id="github">
                <path class="pathAccount"
                    d="M12,2.2467A10.00042,10.00042,0,0,0,8.83752,21.73419c.5.08752.6875-.21247.6875-.475,0-.23749-.01251-1.025-.01251-1.86249C7,19.85919,6.35,18.78423,6.15,18.22173A3.636,3.636,0,0,0,5.125,16.8092c-.35-.1875-.85-.65-.01251-.66248A2.00117,2.00117,0,0,1,6.65,17.17169a2.13742,2.13742,0,0,0,2.91248.825A2.10376,2.10376,0,0,1,10.2,16.65923c-2.225-.25-4.55-1.11254-4.55-4.9375a3.89187,3.89187,0,0,1,1.025-2.6875,3.59373,3.59373,0,0,1,.1-2.65s.83747-.26251,2.75,1.025a9.42747,9.42747,0,0,1,5,0c1.91248-1.3,2.75-1.025,2.75-1.025a3.59323,3.59323,0,0,1,.1,2.65,3.869,3.869,0,0,1,1.025,2.6875c0,3.83747-2.33752,4.6875-4.5625,4.9375a2.36814,2.36814,0,0,1,.675,1.85c0,1.33752-.01251,2.41248-.01251,2.75,0,.26251.1875.575.6875.475A10.0053,10.0053,0,0,0,12,2.2467Z">
                </path>
            </svg>
        </button>

        <!-- LogOut Button -->
        <button class="logOut" onclick="logOut()">
            <div class="sign"><svg viewBox="0 0 512 512" class="svgLogOut">
                    <path class="pathLogOut"
                        d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                    </path>
                </svg></div>
            <div class="text">Logout</div>
        </button>
    </div>
    </section>

    <div class="create-container">
        <button class="create" onclick="createTask()">
            <span class="createText">Create</span>
        </button>
    </div>

    <section id="tasks"></section>

    <!-- CreateTask -->
    <div class="createPlace">
        <div class="mac-header">
            <span class="red"></span>
            <span class="yellow"></span>
            <span class="green"></span>
        </div>
        <input type="text" placeholder="Task name" class="create-title">Mac-Style Code Preview</span>
        <p class="create-description">
            This task will be placed in the tasks to do
        </p>
        <span class="create-tag">To-Do</span>
        <div class="code-editor">
            <input type="text" placeholder="Enter the text" class="code-input"></input>
        </div>
        <br>
        <!-- Button Create inside the CreateTask -->
        <button class="btn-small">
            <div class="btn-small-content">
                <div class="btn-small-icon">
                    <svg xml:space="preserve" style="enable-background:new 0 0 80 80;" viewBox="0 0 80 80" height="40px"
                        width="40px" y="0px" x="0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <g>
                            <path d="M64,48L64,48h-8V32h8c8.836,0,16-7.164,16-16S72.836,0,64,0c-8.837,0-16,7.164-16,16v8H32v-8c0-8.836-7.164-16-16-16
                                S0,7.164,0,16s7.164,16,16,16h8v16h-8l0,0l0,0C7.164,48,0,55.164,0,64s7.164,16,16,16c8.837,0,16-7.164,16-16l0,0v-8h16v7.98
                                c0,0.008-0.001,0.014-0.001,0.02c0,8.836,7.164,16,16,16s16-7.164,16-16S72.836,48.002,64,48z M64,8c4.418,0,8,3.582,8,8
                                s-3.582,8-8,8h-8v-8C56,11.582,59.582,8,64,8z M8,16c0-4.418,3.582-8,8-8s8,3.582,8,8v8h-8C11.582,24,8,20.417,8,16z M16,72
                                c-4.418,0-8-3.582-8-8s3.582-8,8-8l0,0h8v8C24,68.418,20.418,72,16,72z M32,48V32h16v16H32z M64,72c-4.418,0-8-3.582-8-8l0,0v-8
                                h7.999c4.418,0,8,3.582,8,8S68.418,72,64,72z"></path>
                        </g>
                    </svg>
                </div>
                <p class="btn-small-text">Create Task</p>
            </div>
        </button>

    </div>


    <script src="../static/js/to-do.js"></script>
</body>

</html>